<?xml version="1.0" encoding="utf-8"?>
     <configuration>
     <system.webServer>
       <handlers>
        <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor=ENTER SCRIPT PROCESSOR PATH HERE
          
           resourceType="Unspecified"
           requireAccess="Script" />
       </handlers>
     </system.webServer>
     <appSettings>
       <!-- Required settings -->
       <add key="WSGI_HANDLER" value="search.search" />
       <add key="PYTHONPATH" value="C:\PopcornPicksServer" />
     </appSettings>
     </configuration>